<h1>List of ratings</h1>

<p>Number of ratings: <%= @ratings.length %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Rating</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, beer_path(rating.beer.id) %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, rating.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>