<h1>List of styles</h1>

<p>Number of styles: <%= @styles.length %></p>

<ul class="list-group mb-2">
 <% @styles.each do |style| %>
   <%= link_to style.name, style, class: 'list-group-item list-group-item-action text-primary' %>
 <% end %>
</ul>

<%= link_to 'New Style', new_style_path, class: 'btn btn-primary' if current_user %>